
<footer class="footer bg-dark text-center">
   <!-- Footer Elements -->
   <div class="container">
        <br>
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <button class="btnFacebook" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="Andrés Chávez Sosa">
                    <i class="fa fa-facebook"></i>
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btnTwitter" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="@AndroxAzul">
                    <i class="fa fa-twitter"></i>
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btnGoogle" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="andres.chavezsosa1494@gmail.com">
                    <i class="fa fa-google"></i>
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btnInstagram" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="Andrés.CS">
                    <i class="fa fa-instagram"></i>
        </button>
          </li>
          <li class="list-inline-item">
            <button class="btnLinkedin" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="Andrés Chávez Sosa">
                    <i class="fa fa-linkedin"></i>
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btnGithub" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="AndroideSosa">
                    <i class="fa fa-github"></i>
            </button>
           </li>
        </ul>
        <!-- Social buttons -->
      </div>
      <!-- Footer Elements -->
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/AndroideSosa"> Andrés Chávez Sosa</a>
      </div>
      <!-- Copyright -->
</footer>
